.container {
  display: flex;
  align-items: center;
  // background-color: #000;
  font-family: ttnorms;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  text-transform: capitalize;
  color: #fff;
}

.headerLeft {
  flex-basis: 10%;
  margin-right: auto;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 2rem;
}

ul.headerRight {
  list-style: none;
}

ul.headerRight li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

ul.headerRight a:active,
ul.headerRight a:visited,
ul.headerRight a:link {
  color: #fff;
  position: relative;
}

ul.headerRight li:not(.demolink, .signin):hover {
  border-bottom: 2px solid red;
}

ul.headerRight li:last-child {
  display: none;
}

.signin {
  border-radius: 3.3rem;
  border: 1px solid #fff;
  padding: 1rem 2.4rem;
}

.demolink {
  background-color: red;
  border-radius: 3.3rem;
  display: block;
  padding: 1rem 2.4rem;
  position: relative;
  // color: #fff;
  cursor: pointer;
}

.demolink::after {
  background-color: #000;
  border-radius: 3.3rem;
  content: '';
  height: 100%;
  opacity: 0;
  padding: 1.3rem 2.5rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 1s ease-in-out;
  width: 0;
  color: #fff;
}

.demolink:hover::after {
  height: 100%;
  opacity: 1;
  padding: 2rem 3rem;
  width: 100%;
  color: #fff;
}

.bookTitle {
  color: #fff;
  z-index: 99999;
}
