.formWrapper {
  width: 100%;
  margin-bottom: 1rem;
}

.formInput {
  margin-top: 1rem;
}
.errorDisplay {
  font-size: 1.4rem;
  color: red;
  font-family: ttnorms;
  font-weight: 400;
}

.formBox {
  width: 100%;
}
