@import '../../../../../style/abstract.scss';

.second__main {
  padding: 50px 100px;
  background-color: #fff;
  position: relative;
  z-index: 5;
  @include respond(tab-land) {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px;
  }
  @include respond(phone) {
    // padding: 3rem 2rem;
  }
}
.second__main__wrapper {
  margin: auto;
  padding-top: 50px;
}
.second__main__header {
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
  width: 60%;
  @include respond(tab-land) {
    width: 90%;
  }
  @include respond(phone) {
    width: 90%;
  }
}
.second__main__text__box {
  color: #646464;
  display: block;
  font-size: 15px;
  line-height: 1.9;
  position: relative;
  text-align: center;
  @include respond(phone) {
    line-height: 2.4;
  }
}
.second__main__text__box::after {
  border: 1px dashed #ef3125;
  bottom: -30%;
  content: '';
  height: 0;
  position: absolute;
  width: 100px;
  @include respond(phone) {
    right: 10px;
    bottom: -30%;
    width: 50px;
  }
}
.second__main__header__title {
  color: #030111;
  font-size: 4rem;
  font-weight: bold;
  @include respond(phone) {
    font-size: 30px;
  }
}
.second__main__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  @include respond(phone) {
    flex-direction: column;
  }
}
.left__aside {
  flex: 0 0 50%;
  transition: display 1s ease-in-out;
  @include respond(phone) {
    padding: 2.2rem;
    flex: 1;
    width: 100%;
    margin: 30px auto;
    margin-bottom: 40px;
  }
}

.left__aside__subtitle {
  color: #ef3125;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  @include respond(phone) {
    text-align: left;
    display: block;
  }
}
.left__aside__title {
  color: #030111;
  font-size: 3rem;
  font-weight: 700;
  @include respond(phone) {
    font-size: 30px;
    line-height: 1.5;
  }
}
.left__aside__content {
  color: #646464;
  font-size: 15px;
  line-height: 1.9;
  position: relative;
  @include respond(phone) {
    line-height: 2.4;
  }
}
.left__aside__content::after {
  border: 1px dashed #0b0547;
  bottom: -10%;
  content: '';
  height: 0;
  left: -10%;
  position: absolute;
  width: 100px;
  @include respond(phone) {
    left: 25%;
    width: 150px;
  }
}
.left__aside__title_dash::after {
  // border: 1px dashed #ef3125;
  bottom: -10%;
  left: 100%;
  @include respond(tab-land) {
    left: 0;
  }
  @include respond(phone) {
    left: 25%;
    width: 150px;
  }
}
.right__aside {
  margin-left: 25px;
  width: 40%;
  @include respond(phone) {
    // display: none;
  }
}
.right__aside__box {
  margin-left: 25px;
  margin-top: 5%;
  //   width: 80%;
  position: relative;
  width: 40%;
  @include respond(phone) {
    width: 90%;
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
  }
}

.base__perspective {
  margin-left: -15px;
  margin-right: 15px;
  // transform: perspective(1500px) rotateY(
  //   -8deg
  //   );
  transform: perspective(400px) rotateY(-10deg);
}
.right__aside__photo__box {
  position: relative;
  transform: perspective(1500px) rotateY(-8deg);
  z-index: 100;
}
.right__aside__photo {
  background-color: #fff;
  border-radius: 1.5rem;
  // transform: rotateZ(-2deg);
  // transform: perspective(1000px) rotateY(
  //   -15deg
  //   ) rotateZ(-1deg);
  // transform: rotate3d(.5,-.866,0,15deg)
  // rotate(1deg)
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  display: block;
  height: 250px;
  margin-bottom: 2rem;
  object-fit: cover;
  position: relative;
  transform: rotateZ(-1deg);
  width: 100%;
  z-index: 100;
}

.right__aside_avatar {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  display: flex;
  flex-direction: column;
  padding: 8px 23px;
  // transform: rotateZ(-2deg);
  transition: max-height 0.5s ease-in-out;
  width: 100%;
}
.right__aside_avatar__show {
  display: flex;
  transition: all 2s ease-in-out;
  width: 100%;
}
.second__person_box {
  height: 10rem;
  width: 10rem;
}
.right__aside__user__list {
  border-radius: 50%;

  border-radius: 60px;
  display: block;
  height: 10rem;
  object-fit: cover;
  position: absolute;
  width: 10rem;
  z-index: 90;
}
.right__aside__user__list_left {
  border: 5px solid #bae1cd;
  left: -7%;
  top: 53%;
}
.right__aside__user__list_right {
  border: 5px solid #f8bebb;
  right: 30%;
  top: 65%;
}
.right__aside__user__list_top {
  border: 5px solid #eaeaea;
  right: 10%;
  top: -10%;
}

.aside__placeholder {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 90%;
}

.aside__placeholder_item1 {
  background-color: rgba(149, 157, 165, 0.2);
  border-radius: 5px;
  display: inline-block;
  height: 2.5rem;
  margin-bottom: 1rem;
  width: 70%;
}
.aside__placeholder_item2 {
  background-color: rgba(149, 157, 165, 0.2);
  border-radius: 5px;
  display: inline-block;
  height: 2.5rem;
  width: 40%;
}
.aside__like_count {
  display: flex;
  flex-direction: column;
}
.aside__like_count__box {
  align-items: center;
  background-color: #ef3125;
  border-radius: 50%;
  display: flex;
  height: 4.5rem;
  justify-content: center;
  width: 4.5rem;
}

.right__aside_avatar__hide {
  align-self: flex-start;
  display: flex;
  display: none;
  flex: 1;
  flex-direction: column;
  // visibility: hidden;
  // opacity: 0;
  // margin-top: -90px;
  transition: opacity 2s ease-in-out;
  width: 100%;
}
.user_list {
  position: relative;
  z-index: 107;
}

.user_list__hide {
  align-items: center;
  display: flex;

  margin-bottom: 1rem;
  width: 100%;
}
.aside__placeholder_item__hide {
  background-color: rgba(149, 157, 165, 0.2);
  border-radius: 5px;
  display: inline-block;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  width: 70%;
}
.aside__like_count_hide {
  align-self: flex-end;
}

.aside__placeholder_item__hide1 {
  background-color: rgba(149, 157, 165, 0.2);
  border-radius: 5px;
  display: inline-block;
  height: 2.5rem;
  margin-left: 4rem;
  margin-right: 3rem;
  width: 32%;
}
.aside__placeholder_item__hide2 {
  background-color: rgba(149, 157, 165, 0.2);
  border-radius: 5px;
  display: inline-block;
  height: 2.5rem;
  margin-left: 4rem;
  margin-right: 3rem;
  width: 27%;
}
.aside__placeholder_item__hide3 {
  background-color: rgba(149, 157, 165, 0.2);
  border-radius: 0.5rem;
  display: inline-block;
  height: 25px;
  margin-left: 4rem;
  margin-right: 3rem;
  width: 42%;
}

// .right__aside:hover .right__aside_avatar__hide{
//   display:none;
// }

.circle__box {
  border: 18px solid #ef3125;
  border-bottom-left-radius: 19rem;
  border-right: 0;
  border-top-left-radius: 19rem;
  height: 110px;
  left: -1.4rem;
  position: absolute;
  top: 57%;
  transition: transform 0.1s ease-in-out;
  width: 50px;
  z-index: 99;
}

.right__aside__box:hover .right__aside_avatar__hide {
  display: flex;
  opacity: 1;
}
.right__aside__box:hover:hover .right__aside_avatar__show {
  display: none;
  opacity: 0;
}
.right__aside__box:hover .base__perspective {
  margin: 0;
  transform: none;
}
.right__aside__box:hover .circle__box {
  border: 1.8rem solid #000;
  border-right: 0;
  top: 40%;
  transform: translateX(400px) rotate(180deg);
}

// second

.second__main__body_second {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25rem;
  margin-top: 5rem;
  position: relative;
  @include respond(phone) {
    flex-direction: column-reverse;
    margin: 0;
  }
}

.second__main__body_second .right__aside {
  left: 0;
  position: absolute;
  top: 0;
  @include respond(phone) {
    position: static;
    width: 100%;
    margin: 0 auto;
  }
}
.second__aside__photo__box {
  display: flex;
  justify-content: space-between;
}

.right__aside__photo_second {
  background-color: #fff;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  display: block;
  height: 180px;
  margin-bottom: 20px;
  object-fit: cover;
  position: relative;
  width: 80%;
  z-index: 100;
}
.right__aside__people_box {
  position: relative;
  @include respond(phone) {
    height: 25rem;
  }
}
.right__aside__behind_box {
  background-color: #0000001a;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  display: flex;
  flex-direction: column;
  height: 20rem;
  left: -0.5rem;
  margin-left: -1.5rem;
  padding: 3rem;
  position: absolute;
  top: 1.5rem;
  transform: rotateY(-171deg);
  transform: skew(8deg, -5deg);
  width: 80%;
  z-index: 8;
  z-index: 8;
  @include respond(phone) {
    border-radius: 5rem;
  }
}
.second__base__perspective_first {
  background-color: #fff;
  border-bottom: 3px solid #00b871;
  border-radius: 1rem;
  border-right: 3px solid #ef3125;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  display: flex;
  flex-direction: column;
  margin-left: -1.5rem;
  margin-left: 5px;
  margin-top: -8px;
  padding: 7.5rem 5rem 5rem;
  position: absolute;
  width: 80%;
  z-index: 10;
  @include respond(phone) {
    border-radius: 5rem;
  }
}

.second__base__perspective {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  display: flex;
  flex-direction: column;
  margin-left: -1.5rem;
  padding: 3rem;
  transform: perspective(400px) rotateY(-10deg);
}
.right__aside__photo__box_second {
  width: 100%;
}
.second__placeholder_title {
  color: #5c6574;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.second__placeholder_item1 {
  background-color: #e6eaed;
  border-radius: 0.5rem;
  display: block;
  height: 20px;
  margin-bottom: 1rem;
  width: 90%;
}
.second__placeholder_item2 {
  background-color: #e6eaed;
  border-radius: 5px;
  display: block;
  height: 2rem;
  width: 70%;
}
.name__avatar__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name__avatar__box__avatar {
  align-items: center;
  background-color: #ffe5e4;
  border: 2px solid #ef3125;
  border-radius: 50%;
  color: #ef3125;
  display: flex;
  height: 5rem;
  justify-content: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 5rem;
}
.second__group__avatar_box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.second__group__avatar {
  align-items: center;
  display: flex;
  flex: 0 0 50%;
  justify-content: space-between;
  margin-right: 10px;
}
.second__aside__photo_round {
  border: 1px solid #04532a;
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
  width: 40px;
}

.right__aside__photo__box_second_hide {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  display: flex;
  flex-direction: column;
  margin-left: -1.5rem;
  padding: 3rem;
}
.second__placeholder_item1_round {
  background-color: #e6eaed;
  border-radius: 5px;
  height: 20px;
  width: 80%;
}
.second__placeholder_wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .left__third__placeholder {
    background-color: #e6eaed;
    border-radius: 5px;
    flex: 0 0 70%;
    height: 20px;
  }

  .left__third__placeholder_amt {
    color: #00000069;
    font-weight: 600;
  }
}

.left__third__placeholder1 {
  background-color: #e6eaed;
  border-radius: 5px;
  height: 10px;
  margin-top: 10px;
  width: 200px;
}
.right__aside__photo__box_second_wrap {
  margin-bottom: 10px;
  opacity: 0;
  // transition: visibility 3s, opacity 1s linear;
  transition: visibility 4s linear;
  visibility: hidden;
}
.right__aside__photo__box_second_hide {
  margin-bottom: 10px;
}

.second__main__body_second:hover .second__base__perspective {
  display: none;
}

.right__aside__photo__box_second_wrap {
  margin-top: -200px;
}
.second__main__body_second:hover .right__aside__photo__box_second_wrap {
  display: block;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.left__aside_next {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left__aside__subtitle {
  align-items: flex-start;
  display: flex;
  @include respond(phone) {
    display: block;
    font-size: 2rem;
    // text-align: center;
  }
}
