@font-face {
  font-family: 'ttnorms';
  font-display: swap;
  font-weight: 100;
  src: url('https://res.cloudinary.com/solomonfrank/raw/upload/v1655941225/apems/fonts/TTNormsProThin_ilgqp5.woff');
}
@font-face {
  font-family: 'ttnorms';
  font-display: swap;
  font-weight: 300;
  src: url('https://res.cloudinary.com/solomonfrank/raw/upload/v1655941224/apems/fonts/TTNormsProLight_v60czp.woff');
}

@font-face {
  font-family: 'ttnorms';
  font-display: swap;
  font-weight: 400;
  src: url('https://res.cloudinary.com/solomonfrank/raw/upload/v1655941224/apems/fonts/TTNormsProRegular_ql8lhc.woff');
}
@font-face {
  font-family: 'ttnorms';
  font-display: swap;
  font-weight: 500;
  src: url('https://res.cloudinary.com/solomonfrank/raw/upload/v1655941224/apems/fonts/TTNormsProMedium_dnkctb.woff');
}
@font-face {
  font-family: 'ttnorms';
  font-display: swap;
  font-weight: 700;
  src: url('https://res.cloudinary.com/solomonfrank/raw/upload/v1655941224/apems/fonts/TTNormsProBold_m1tgfz.woff');
}
@font-face {
  font-family: 'ttnorms';
  font-display: swap;
  font-weight: 800;
  src: url('https://res.cloudinary.com/solomonfrank/raw/upload/v1655941224/apems/fonts/TTNormsProExtraBold_iuqm2c.woff');
}
@font-face {
  font-family: 'ttnorms';
  font-display: swap;
  font-weight: 900;
  src: url('https://res.cloudinary.com/solomonfrank/raw/upload/v1655941224/apems/fonts/TTNormsProBlack_mcpqpq.woff');
}
