@import '../../style/abstract.scss';

.eventCard {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 20%;
  @include respond(tab-land) {
    width: 45%;
  }
  @include respond(phone) {
    width: 100% !important;
  }
}
.bannerImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logoWrapper {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 4rem;
  position: absolute;
  z-index: 9;
  top: 5%;
  left: 5%;
}

.card__bottom {
  border-top: 2px dashed #707070;
  padding-top: 1.2rem;
  text-align: left;
  z-index: 9;
  position: absolute;
  bottom: 5%;
  width: 90%;
  left: 5%;
  right: 5%;
}

.btn__small {
  background-color: #ef3125;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.8rem 2rem;
}

.card__bottom__caption {
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  z-index: 99;
}

.card__bottom__date {
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.card__bottom__date {
  color: #e6eaed;
  font-size: 1.2rem;
  z-index: 99;
}
.eventCard {
  width: 23%;
  z-index: 99;
  @include respond(tab-land) {
    margin-right: 0;
    width: 47%;
  }
  @include respond(phone) {
    // width: 370px!important;
    // width: 90%;
    width: 90% !important;
    margin-right: 20px;
  }
}

.card_left {
  display: flex;
  justify-content: space-between;
}
.promptBox {
  background-color: #fff;
  color: #000;
  display: flex;
  cursor: pointer;

  font-family: ttnorms;
  font-weight: 400;
  font-size: 1.3rem;
  width: 200px;
  padding: 4px;
  border-radius: 3px;
  gap: 9px;
}

.eventOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.logoImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: fill;
}
